<div class="newform">
  <div class="Log in">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :nickname, "ユーザー名", class: "form_label"%><br />
        <%= f.text_field :nickname, class: "form__text" %>
      </div>  

      <div class="field">
        <%= f.label :email, "メールアドレス", class: "form_label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__text" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "form_label" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form__text" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード再入力", class: "form_label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form__text" %>
      </div>

      <div class="field">
        <%= f.label :height, "身長", class: "form_label"%><br />
        <%= f.text_field :height, class: "form__text" %>
      </div>  

      <div class="field">
        <%= f.label :weight, "体重", class: "form_label"%><br />
        <%= f.text_field :weight, class: "form__text" %>
      </div>  


      <div class="field">
        <%= f.text_field :distance, class: "form__hidden" %>
      </div>  


      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

