<div class="card" style="width: 18rem;">
  <% if article.image.present? %>
    <%= image_tag(article.image, size: '100x100', class: "card-img-top") %>
  <% end %>  
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.menu %></p>
    <div class="favocount">
      <div class="iine">いいね数</div>
      <div class="favo-count"><%= article.favorites.count %></div>
    </div>
    <div class="card-bottom">
      <%= link_to "記事を見る", article_path(article.id), class: "btn btn-primary" %>
      <%= link_to "作成者#{article.user.nickname}", user_path(article.user.id), class: "btn btn-right" %>
    </div>
  </div>
</div>