  <div class="articles">
    <div class="article-mi">
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :menu, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
      <div class="article-midashi">・Articles・</div>
    <div class="article_introduction">このページでは様々な人の練習メニューやランナーとしての生活を日記として共有することが出来ます。気になった人や質問したい人がいたら記事にリンクしましょう！</div> 
    <div class="article">
      <%= render partial: "article", collection: @articles %>
    </div>  
    
    <div class="pagenation">
      <%= paginate @articles %>
    </div>  

    <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
    </div>  
  </div>

