<div class="show-layout">
  <div class="show-title">
     <div class="show-title-content"><%= @article.title %></div>
     <div class="maybypulldown">
       <% if user_signed_in? && current_user.id == @article.user.id %>
        <%= link_to "編集", edit_article_path, class: "show-edit"%>
        <%= link_to "削除", article_path(@article.id), method: :delete, class: "show-delete" %>
      <% end %>  
     </div>  
  </div>

  <div class="show-description">
    <% if @article.image.present? %>
      <%= image_tag(@article.image, size: "600x400", class: "show-image") %>
    <% end %>  
    <div class="show-content">
      <div class="category-zone">カテゴリー：<%= @article.category.name %></div>
      <div class="menu-form">メニュー：<%= @article.menu %></div>
      <div class="free-text">振り返り：<%= @article.free_text %></div>
      <div class="hapning">自由欄：<%= @article.hapning %></div>
      <div class="get-user-name">作成者：<%= @article.user.nickname %></div>
    </div>
  </div>
   
      <div class="Goodbtn">
        <% if user_signed_in?  %>
          <% unless current_user.id == @article.user.id %>
            <%= render partial: "favorites/favorite", local: { article: @article, favorite_new: @favorite_new } %>
          <% end %> 
        <% end %>  
          <div class="Good-count">
          </div>  
      </div>




  <% if user_signed_in?%>
    <div class="comment-zone">
      <p>・コメント一覧・</p>
      <%= form_with(model: [@article, @comment], local: true, id: "form", class: "form")  do |form| %>
        <%= form.text_field :comment,  id: "text", placeholder: "コメントする", class: "comment-text"%>
        <%= form.submit '投稿する' , id: "submit", data_id: @article.id, class: "btn btn-primary" %>
      <% end %> 

     <% if @comments %>
        <ul class="talk", id="list">
          <% @comments.each do |comment| %>
            <% if comment.user.id == current_user.id %>
              <li class="talk-Rtxt", id="talk-hukidashi-left">
                  <div>
                    <p class="talk-name">@<%= comment.user.nickname %>@さん</p>
                  </div>
                  <div class="lower-messages">
                    <div class="lower-message-text">
                      <p class="talk-text" ><%= comment.comment %></p>
                    </div>  
                    <div class="lower-message-delete", id="pull-down">
                      <%= link_to "削除する", article_comment_path(comment.id), method: :delete %>
                    </div>  
                  </div>  
              </li>  
            <% else %>  
              <li class="talk-Ltxt">
                <div>
                  <p class="talk-name">@<%= comment.user.nickname %>@さん</p>
                  <p class="talk-text"><%= comment.comment %></p>
                </div>  
              </li>
            <% end %>  
          <% end %>
        </ul>
     <% end %>  
   </div>
 <% else %>
   <div class="notlogin">
    <%= link_to "ログイン", user_session_path %>してコメントを投稿しよう！
   </div>  
 <% end %>  

  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  

</div>

