<div class="main">
  <%= image_tag 'photo-1513593771513-7b58b6c4af38.jpeg', class: "main-image"%>
  <h1>Runners High</h1>
  <div class="concept">
    <div class="concept-title">・コンセプト・</div>
    <div class="concept-introduction">
       ランナーズハイ（runner's high）とは、継続的な運動によって引き起こされる一時的な多幸感であり、喜び、深い満足感、高揚感、ウェルビーイングといったポジティブ感情を経験する感情的状態です。
      当サイトにはランニングに関わるあらゆる情報が集まってきます。「走る」を日常的な活動にして、人生に幸せをもたらしましょう。
    </div>
    <div class="concept-images">
      <%= image_tag 'photo-1557937719-083aaf9d60cc.jpeg', size: '300x300', class: "concept-image" %>
      <%= image_tag 'photo-1486218119243-13883505764c.jpeg', size: '300x300', class: "concept-image"%>
      <%= image_tag 'photo-1517488629431-6427e0ee1e5f.jpeg', size: '300x300', class: "concept-image"%>
    </div>  
  </div>  
  <div class="favorites">
    <div class="favorite-article">・Good Logs・</div>
    <div class="favorite">
      <% @b_articles.each do |article| %>
        <div class="card" style="width: 18rem;">
          <%= image_tag( article.image, size: '100x100', class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= article.title %></h5>
            <p class="card-text"><%= article.menu %></p>
            <div class="favocount">
              <div class="iine">いいね数</div>

              <div class="favo-count"><%= article.favorites.count %></div>
            </div>
            <div class="card-bottom">
              <%= link_to "記事を見る", article_path(article.id), class: "btn btn-primary" %>
              <%= link_to "作成者#{article.user.nickname}", user_path(article.user.id), class: "btn btn-right" %>
            </div>
          </div>
        </div>
      <% end %>
      <%# <%= render partial: "articles/best_favorite", local: { b_article: @b_articles } %> 
    </div>
    
    
    <div class="favorite-meal">・Good Meals・</div>
    <div class="favorite">
      <% @b_meals.each do |meal| %>
        <div class="card" style="width: 18rem;">
          <%= image_tag(meal.image, class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= meal.name %></h5>
            <p class="card-text"><%= meal.kondate %></p>
            <div class="favocount">
              <div class="iine">いいね数</div>
              <div class="favo-count"><%= meal.meal_favorites.count %></div>
            </div>
            <div class="card-bottom">
              <%= link_to "記事を見る", meal_path(meal.id), class: "btn btn-primary" %>
              <%= link_to "作成者#{meal.user.nickname}", user_path(meal.user.id), class: "btn btn-right" %>
            </div>
          </div>
        </div>
        <%# <%= render partial: "meals/meal", collection: @meals %> 
      <% end %>
    </div>
  </div>
  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  
</div>


