<div class="user-profile">
  <div class="userprofile">
    <div class="profileimage">
         <%= image_tag 'profile.jpeg', size: '350x300', class: "concept-image"%>
    </div>
    <div class="user-description">
      <div class="user-name"><%= @user.nickname %></div>
      <div class="user-email"><%= @user.email %></div>
      <% if current_user.height %>
        <div class="user-height"><%= @user.height %></div>
      <% end %>  
      <% if current_user.weight %>
        <div class="user-height"><%= @user.weight %></div>
      <% end %>
      <%= link_to "今月の目標を設定する", "/users/#{@user.id}/editsub", class: "thismonth" %>
    </div>
  </div>  

  <div class="Goals">
    <div class="Goal", id="distance-goal">
      <% if @user.distance %>
       <span class="monthnokori" >今月残りkm</span>
       <span class="distance-point", id="goal", data=<%= @user.distance %>><%= @user.distance%></span>
      <% end %>  
    </div>
    <div class="flash"><%= flash[:alert] %></div>
    
    <%= form_with model: @user, url: "/users/#{@user.id}/updatesub", local: true, class: "editsub-form" do |f| %>
      <div class="field">
        <%= f.text_field :distance, id: "distance-integer", placeholder: "今日の走行距離", class: "form__textgoals" %>
        <%= f.submit "更新する", class: "btn btn-primary"  %>
      </div>  
    <% end %>  
  </div>

  <% if @article %>
    <div class="favorites">
      <div class="favorite-article">・<%=@user.nickname%> Training Logs・</div>
      <div class="favorite">
        <%= render partial: "articles/article", collection: @article  %>
      </div>
    </div>  
  <% else %>  
    <div class="favorites">
      <div class="favorite-article">・<%=@user.nickname%> Training Logs・</div>
      <div class="favorite">
        <%=link_to "記事を投稿しましょう！", new_article_path, class: "meal-link" %>
      </div>
    </div>  
  <% end %>  
  
  <% if @meals %>
    <div class="favorites">
      <div class="favorite-meal">・<%=@user.nickname%> Meals Logs・</div>
      <div class="favorite">
        <%= render partial: "meals/meal", collection: @meals %>
      </div>
    </div>
  <% else %>  
    <div class="favorites">
      <div class="favorite-meal">・<%=@user.nickname%> Meals Logs・</div>
      <div class="favorite">
        <%=link_to "記事を投稿しましょう！", new_meal_path, class: "meal-link" %>
      </div>
    </div>
  <% end %>

  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  

</div>