<%# ユーザープロフィール %>
<div class="user-profile">
  <div class="userprofile">
    <div class="profileimage">
         <%= image_tag 'sampleicone.jpeg', size: '350x300', class: "concept-image"%>
    </div>
    <div class="user-description">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ニックネーム：<%= @user.nickname %></li>
        <li class="list-group-item">EMAIL：<%= @user.email %></li>
        <% if @user.height %>
          <li class="list-group-item">身長：<%= @user.height %></li>
        <% end %>
        <% if @user.weight %>
          <li class="list-group-item">体重：<%= @user.weight %></li>
        <% end %>

        <%# フォロワー数 %>
        <li class="list-group-item">      
          <div class="follower">
            <%= link_to followers_user_path(@user.id) do %>
                <div style="color: black;">フォロワー<%= @user.followers.count %>人</div>
            <% end %>
          </div>
       </li>
        <li class="list-group-item">
          <div class="follow">
              <%= link_to following_user_path(@user.id) do %>
                        <div style="color: black;">フォロー<%= @user.following.count %>人</div>
              <% end %>
          </div>
        </li>
        <li class="list-group-item">
          <% if user_signed_in? %>
            <%= link_to "今月の目標を設定する", "/users/#{@user.id}/editsub", class: "thismonth" %>
          <% end %>  
        </li>
      </ul>

    </div>
  </div>  

  <div class="followbtn">
      <%= render "follow_form" %>
  </div>

  <%# 目標記入欄 %>
  <div class="Goals">
    <div class="Goal", id="distance-goal">
      <% if @user.distance %>
       <span class="monthnokori" >目標まで残りkm</span>
       <span class="distance-point", id="goal", data=<%= @user.distance %>><%= @user.distance%></span>
      <% end %>  
    </div>
    <div class="flash"><%= flash[:alert] %></div>
    <% if user_signed_in? && @user.id == current_user.id %>
      <%= form_with model: @user, url: "/users/#{@user.id}/updatesub", local: true, class: "editsub-form" do |f| %>
        <div class="field">
          <%= f.text_field :distance, id: "distance-integer", placeholder: "今日の走行距離", class: "form__textgoals" %>
          <%= f.submit "更新する", class: "btn btn-primary"  %>
        </div>  
      <% end %>  
    <% end %>  
  </div>
  <%# ユーザーが投稿した記事 %>
  <% if @article %>
    <div class="favorites">
      <div class="favorite-article">・<%=@user.nickname%> Training Logs・</div>
      <div class="favorite">
        <%= render partial: "articles/article", collection: @article  %>
      </div>
    </div>  
  <% else %>  
    <div class="favorites">
      <div class="favorite-article">・<%=@user.nickname%> Training Logs・</div>
      <div class="favorite">
        <%= link_to "記事を投稿しましょう！", new_article_path, class: "meal-link" %>
      </div>
    </div>  
  <% end %>  
  
  <% if @meals %>
    <div class="favorites">
      <div class="favorite-meal">・<%=@user.nickname%> Meals Logs・</div>
      <div class="favorite">
        <%= render partial: "meals/meal", collection: @meals %>
      </div>
    </div>
  <% else %>  
    <div class="favorites">
      <div class="favorite-meal">・<%=@user.nickname%> Meals Logs・</div>
      <div class="favorite">
        <% if user_signed_in? %>
          <%=link_to "記事を投稿しましょう！", new_meal_path, class: "meal-link" %>
        <% end %>  
      </div>
    </div>
  <% end %>
  <%# フッター %>
  <div class="footer">
      <p class="copyright">Copyright © Runners High All rights reserved.</p>
  </div>  

</div>