<div class="card" style="width: 18rem;">
  <%= image_tag(meal.image, class: "card-img-top") %>
  <div class="card-body">
    <h5 class="card-title"><%= meal.name %></h5>
    <p class="card-text"><%= meal.kondate %></p>
    <div class="favocount">
      <div class="iine">いいね数</div>
      <div class="favo-count"><%= meal.meal_favorites.count %></div>
    </div>
    <div class="card-bottom">
      <%= link_to "記事を見る", meal_path(meal.id), class: "btn btn-primary" %>
      <%= link_to "作成者#{meal.user.nickname}", user_path(meal.user.id), class: "btn btn-right" %>
    </div>
  </div>
</div>