<div class="newform">
  <div class="Log in">
    <%= form_with model: @user, url: user_session_path , local: true  do |f| %>
      <div class="field">
        <%= f.label :email, class: "form_label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form__text" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "form_label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form__text" %>
      </div>

      <div class="field">
        <div class="sampleemail">サンプルEmail： hoge@hoge</div>
        <div class="sampleemail">サンプルPassword： hoge11</div>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

